[submodule "ThirdParty/fmt"]
	path = Source/ThirdParty/fmt/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "ThirdParty/backward-cpp"]
	path = Source/ThirdParty/backward-cpp/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
