[submodule "ThirdParty/fmt"]
	path = ThirdParty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "ThirdParty/backward-cpp"]
	path = ThirdParty/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
